<mat-card class="mat-elevation-z4" id="tabla-clientes" fxFlexAlign="stretch" style="width: 160vh;">
    <mat-card-header>
      <mat-card-title>{{titulo}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button class="btn btn-primary my-2"
              routerLink="/empleados/form">
          Crear empleado
    </button>
    <div class="table-responsive">
      <table class="table table-hover table-striper">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Usuario</th>
            <th scope="col">Empresa</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Tipo identificación</th>
            <th scope="col">Número identificación</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Localidad</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Detalles</th>
            <th scope="col">Cursos</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of lista">
              <td>{{empleado.id}}</td>
              <td>{{empleado.usuario.id}}</td>
              <td>{{empleado.empresa.razon_social}}</td>
              <td>{{empleado.nombre}}</td>
              <td>{{empleado.apellido}}</td>
              <td>{{empleado.tipo_id.nom_tipo}}</td>
              <td>{{empleado.num_id}}</td>
              <td>{{empleado.ciudad}}</td>
              <td>{{empleado.localidad}}</td>
              <td>{{empleado.direccion}}</td>
              <td>{{empleado.telefono}}</td>
              <td>
                <button class="btn btn-success btn.secondary btn.sm" [routerLink]="['/empleados/detalle', empleado.id]">
                    Ver detalles
                </button>
              </td>
              <td>
                <button class="btn btn-success btn.secondary btn.sm" [routerLink]="['/empleados', empleado.id, 'mis_cursos']" style="background-color: #489c27; border: solid 1px #489c27;">
                    Ver cursos
                </button>
              </td>
              <td>
                <button class="btn btn-primary btn.secondary btn.sm" [routerLink]="['/empleados/form', empleado.id]">
                    Editar
                </button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
        <mat-paginator [length]="totalRegistros"
            [pageSize]="totalPorPagina"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="paginaActual"
            (page) = "paginar($event)"
            showFirstLastButtons class="float.left mx-2">
        </mat-paginator>
    </mat-card-content>
  </mat-card>

